body {
    font-family: Arial, sans-serif;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
  }
  body {
    font-size: .875rem;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

body {
  font-size: .875rem;
  background-image: url('images/pawel-czerwinski-BmAOtpBZpMk-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}
header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5em;
  color: #333;
}

section h2 {
  text-align: center;
}
body {
  font-family: 'Roboto', sans-serif;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900
}
h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400
}

.publication {
    margin-bottom: 20px;
}

.publication h3 {
    font-weight: 700;
}

.publication a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}